<h1> pandas start </h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h2> Create a Series and DataFrame from lists, dicts, NumPy arrays.</h2>

In [ ]:
np_list = [1, 2, 3]
print(pd.Series(np_list, index = ["x", "y", "z"]))
print(pd.DataFrame(np_list, index = ["x", "y", "z"]))


<h2> Rename columns, set index, reset index.</h2>

In [26]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Score': [90, 85, 88, 92]
}
df = pd.DataFrame(data)
df.rename(columns={'Name': 'Full Name', 'Age': 'Age in Years', 'Score': 'Test Score'}, inplace=True)
df

  Full Name  Age in Years  Test Score
0     Alice            25          90
1       Bob            30          85
2   Charlie            35          88
3     David            40          92

In [23]:

df.set_index('Full Name', inplace=True)
df

           Age in Years  Test Score
Full Name
Alice                25          90
Bob                  30          85
Charlie              35          88
David                40          92

In [24]:
df.reset_index(inplace=True)
df

  Full Name  Age in Years  Test Score
0     Alice            25          90
1       Bob            30          85
2   Charlie            35          88
3     David            40          92

<h2>Check types, shape, index, columns</h2>

In [29]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'B': ['x', 'y', 'z', 'k', 'l', 'm', 'n', 'p', 'q', 'r'],
})
print("Data types: \n", df.dtypes)
print("Shape:", df.shape)
print("Index:", df.index)
print("Columns:", df.columns)

Data types:
 A     int64
B    object
dtype: object
Shape: (10, 2)
Index: RangeIndex(start=0, stop=10, step=1)
Columns: Index(['A', 'B'], dtype='object')

<h2>data selection and filtering</h2>
<h3>.loc[], .iloc[], boolean indexing, query()</h2>

In [1]:
import pandas as pd

data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'],
        'Age':[27, 24, 22, 32,
               33, 36, 27, 32],
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA']}
df = pd.DataFrame(data1)
print(df)


df.groupby('age')
print(df.groupby('age').groups)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

KeyError: 'age'